header{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 150px;
    border: solid;
    border-color:gray;
    position: fixed;
    z-index: 100;
    width: 1400px;
}

h1{
    padding: 30px;
    display: inline-block;
    cursor: pointer;
}

div{
  display: inline;
  margin-left: 150px;
  position: relative;
}

#one{
    padding: 5%;
    color: wheat;
}
#two{
    padding: 5%;
    color: wheat;
}
#three{
    padding: 5%;
    color: wheat;
}
#four{
    padding: 5%;
    color: wheat;
}

.img{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
.content{
    display: inline-block;
    font-size: 22px;
    margin-left: 1%;
}

footer{
    background-color: black;
    color: white;
    border-color: gray;
    
}

.fote1{
    margin-left: 70%;
    
}

.fote2{
    display: block;
    
}

